
    *{
         margin : 0 ;
         padding : 0 ;
         box-sizing : border-box ;
         outline : none ;
    }
    body {
         font-family : Oswald;
         overflow-x : hidden ;
    }

    .wrapper{
        position: relative;
    }
    header{
        display: inline-block;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 40px 50px;
        z-index: 99;
    }
    .logo{
        float: left;
    }
    .menu{
      float: right;  
    }
    .menu ul{
        float: left;
    }
    .menu ul li{
        display: inline-block;
    }
    .menu ul li a{
        text-decoration: none;
        color:#fff ;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        margin: 0 40px;
    }
    .slider .item{
        background-color: #8c001e;
    }
    .toggleBtn{
   display:inline-block ;
   position:relative ;
   width:30px ;
   height:30px ;
   float:left ;
   margin-top : 5px ;
   margin-left : 50px ;
    }
    .toggleBtn span{
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fff;
        top: 0;
        left: 0;
        transition: all ease 0.5s;


    }
    .toggleBtn span:nth-child(2){
        top: 15px;

    }
    /*Slider*/
    .slider .item{
        float: left;

    }
    .item-image{
        float: left;

    }
    /*Slider Captions*/
    .caption {
   float : left ;
   color : #fff ;
   padding : 230px 0 ;
   position:relative ;
   z-index: 2;
}
.caption h1{

   font-weight : 400 ;
   font-size : 126px ;
   text-transform : uppercase ;
   letter-spacing : 5px ;
   text-shadow: 10px 15px 0 rgba(0 0 0/ 0.25);


}
caption h4{
    font-weight: 300;
    font-size: 30px;
    text-transform:uppercase;
    letter-spacing: 5px;
}
.caption:before{
    content: attr(data-count);
   position: absolute ;
    top:-5%;
    left: 0 ;
   color: #fff ;
   font-size : 500px ;
   font-weight : 300 ;
   opacity : .1 ;
}
 /*Slider ARROW*/
 .slick-arrow{
    position: absolute;
    font-size:0;
    width: 17px;
    height:81px;
    background-size: contain;
    background-position: center;
    border: 0;
    left:50px;
    z-index: 9;
 }
 .slick-prev,
 .slick-prev:hover,
 .slick-prev:focus{
    background: url(pre_arrow.png) no-repeat;
    top: 40%;

 }
 .slick-next,
 .slick-next:hover,
 .slick-next:focus{
    background: url(next_arrow.jpg ) no-repeat;
    top: 55%;

 }
 /* SLIDER DOTS*/
 .slick-dots{
   width : 30px ;
   bottom : inherit ;
   top : 40% ;
   right : 70px ;
 }
.slick-dots li {
   width : 30px ;
   height : 30px ;
   margin-bottom : 20px ;
}
.slick-dots li button {
   width : 30px ;
   height : 30px ;
   border : 1px solid #ffffff30 ;
   border-radius : 50px ;
   transition: all ease 0.3s;
}
.slick-dots li.slick-active button{
    border-color: #fff;

}
.slick-dots li button:hover{
    border-radius: #fff;
}
.slick-dots li button:before {
   content : '' ;
   width : 8px ;
   height : 8px ;
   top : 37% ;
   right : 0 ;
   margin : 0 auto ;
   background-color : #fff ;
   border-radius : 50px ;
   opacity : 1 !important ;
}
/*BOTTOM LINK*/
.bottom-link{
   width : 100% ;
   padding : 40px 50px ;
   background-color : rgba( 0 0 0 / 0.3 ) ;
   position : absolute ;
   z-index : 99 ;
   bottom : 0 ;
   left : 0 ;
}
.bottom-link .left{
    float:left;
}
.bottom-link .right{
    float:right;
}
.bottom-link a {
   display : inline-block ;
   position : relative ;
   color : #fff ;
   text-transform : uppercase ;
   text-decoration : none ;
   font-weight : 300 ;
   font-size : 18px ;
   }
   .bottom-link .right a{
    letter-spacing: 3px;
   }
   .bottom-link .left a{
    padding-right:90px;
   }
   .bottom-link .left a:after {
    content:'';
   position: absolute ;
   width : 40px ;
   height : 1px ;
   background-color : #fff ;
   right : 25px ;
    top : 50% ;
             }
 .bottom-link .left a:last-child:after{
    display: none;
 }    
 /*SIDE OVERLAY*/  

.slide-overlay{
    position:absolute;
    top:0;
    right:0;
    width: 330px;
    height: 100%;
    background-color: #790017;
    z-index:1;
}
.slider-wrap{
    position: relative;
    z-index: 9 ;

}
.slider.slick-slider{
    margin-bottom:0;
}
.toggleBtnactive span{
    transform: rotate(45deg);
}
.toggleBtnactive span:nth-child(2)
{
 transform: rotate(-45deg);
 top:10px;
}
.toggleBtnactive span{
    top:10px;
}
